<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="relative min-h-screen">
        {{>header}}
        <div class="pb-16">
            <h1>{{errormessage}}</h1>
        </div>
    </div>
    {{>footer}}
</body>

</html>