<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
</head>

<body>
    <div class="relative min-h-screen">
        {{>header}}
        <div class="pb-16 ml-auto mr-auto w-96 mt-4 justify-center text-center">
            <div class="m-2 p-4 from-blue-700 to-purple-500 bg-gradient-to-r rounded-md">
                <a class="text-white font-bold text-center">How to use:</a>
                <p class="text-white pb-4">{{howtouse}}</p>
                <a class="font-bold text-white text-center">For more inquiries: </a>
                <p class="text-white">{{email}}</p>
            </div>
        </div>
    </div>
    {{>footer}}

    <script src="./js/app.js"></script>
</body>

</html>