<nav role="navigation"
    class="absolute bottom-0 flex items-center justify-center w-full h-16 text-center text-white bg-gradient-to-r from-purple-500 to-blue-700">
    <p>Created by: <a class="hover:text-gray-500" target="_blank" rel="noreferrer" href="https://tommyngo.ca/">
            {{name}}</a></p>
</nav>